body {
  min-height: 900px;
  -webkit-user-select: none;
}

img {
  border: 0;
}

li {
  list-style-type: none;
  position: relative;
}

.compact li {
  padding: 5px 60px 5px 10px;
}

/*ul, li, .content-padded {
  background: transparent;
}*/

.tab-label .count {
  position: relative;
  top:-2px;
  font-size: 0.8em;
  padding: 3px 8px;
}

.tab-inner .tab-item {
  width: 50%;
}

/* Backpane */
.backPane {
  z-index:1;
  display:none;
  position:fixed;
  height:100%;
  width:85%;
  left:0%;
  overflow:auto;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.content {
  z-index:2;
  padding-bottom: 100px;
  bottom: -50px;
  box-shadow: -5px -50px 50px rgba(0, 0, 0, .2);
  background: #fff;
}

.backPane.visible {
  display:block;
}

.bar-title,
.content,
.bar-tab {
  -webkit-transition:-webkit-transform 0.3s ease;
  transition:transform 0.3s ease;
}

.button#backpane > [class^="count-"],
.button#backpane > [class*=" count-"] {
  position: absolute;
  top:17px;
  right:-4px;
  font-size: 0.8em;
  padding: 3px 8px;
  opacity: 0;
}

/* list-loader */
.list-loader {
  text-align: center;
  padding-top: 5px;
}

/* Preloader */
.preloader {
  position: fixed;
  top:150px;
  text-align: center;
  width: 100%;
}

/* Footer menu */
.tab-icon {
  font-size:18px;
  color:#FFF;
  margin-top:-10px;
}

/* Content/Text */
.content, .content-spacer {
  padding-bottom: 100px;
}

.text-block {
  line-height: 1.5;
  color: #555;
  text-align: center;
}

/* Coins icons */
.coin-icon {
  display: inline-block;
  width:13px;
  padding: 4px 4px;
  font-size: 12px;
  text-align:center;
  font-weight: bold;
  line-height: 13px;
  color: #fff;
  border-radius: 100px;
}

.coin-usual {
  background-color: #aaa;
}

.coin-big {
  background-color: #daa520;
}

.menu .coins-counts {
  margin-top: -15px;
  right: 30px;
  background-color: rgba(0, 0, 0, .05);
}

.activities .coin-icon {
  margin-top: 5px;
}

/* Coins page */
.coins-holder {
  text-align: center;
}

.coin-holder .count {
  position: relative;
  left: 35px;
  top: -45px;
}

.coin-holder img {
  width: 150px;
  height: 150px;
  text-align: center;
  /*display: block;*/
}

.left {
  float: left;
  padding-left: 15px;
}

.right {
  float: right;
  padding-right: 15px;
}

.no-coins {
  margin-top: 30px;
}

.disabled {
  opacity : 0.4;
}

/* Activities */
.activities {
  font-size: 0.8em;
}

.activities li {
  padding: 0 0 6px 10px;
}

.activities p {
  width: 65%;
}

/* User */
.user-thumb {
  padding: 0 5px 0 0;
  min-height: 96px;
}

.user-thumb img {
  float: left;
  min-height: 96px;
  width: 96px;
}

.user-thumb span {
  margin-left: 5px;
  font-weight: bold;
}

.user-thumb a {
  color: #000;
}

.user-thumb:after {
  clear: both;
}
