body {
  min-height: 900px;
  -webkit-user-select: none;
}

img {
  border: 0;
}

li {
  list-style-type: none;
  position: relative;
}

.list li {
  padding: 5px 60px 5px 10px;
}

/* Preloader */
.preloader {
  position: fixed;
  top:150px;
  text-align: center;
  width: 100%;
}

/* Footer menu */
.tab-icon {
  font-size:18px;
  color:#FFF;
  margin-top:-10px;
}

/* Content/Text */
.content, .content-spacer {
  margin-bottom: 50px;
}

.text-block {
  line-height: 1.5;
  color: #555;
  text-align: center;
}

/* Coins page */
.coins-holder {
  margin-top: 30px;
}

.coin-holder {
  text-align: center;
}

.coin-holder img {
  width: 150px;
  height: 150px;
  text-align: center;
  /*display: block;*/
}

.left {
  float: left;
  padding-left: 15px;
}

.right {
  float: right;
  padding-right: 15px;
}

.no-coins {
  margin-top: 30px;
}

/* History */
.history li {
  padding: 0 0 6px 10px;
}

/* User */
.user-thumb {
  padding: 0 5px 0 0;
  min-height: 96px;
}

.user-thumb img {
  float: left;
  min-height: 96px;
  width: 96px;
}

.user-thumb span {
  margin-left: 5px;
  font-weight: bold;
}

.user-thumb a {
  color: #000;
}

.user-thumb:after {
  clear: both;
}
