<li style="display:none">
  <p>
    <span class="coin-icon coin-{{coins_type}}">{{coins_count}}</span>

    {{#if-eq type "transfer"}}
      {{#if-eq subtype "+"}}
        recieved from <a href="fb://profile/{{sender.facebook_uid}}" target="_system">{{sender.name}}</a>
      {{else}}
        sent to <a href="fb://profile/{{recipient.facebook_uid}}" target="_system">{{recipient.name}}</a>
      {{/if-eq}}
    {{/if-eq}}

    {{#if-eq type "payment"}}
      exchanged {{#if message}}for {{message}}{{/if}}.
    {{/if-eq}}

    {{#if-eq type "purchase"}}
      is purchased.
    {{/if-eq}}

    {{#if-eq type "restore"}}
      is restored.
    {{/if-eq}}
  </p>
  <span class="count{{#if updated}}-negative{{/if}}">{{time}}</span>
</li>
