<script id="header_template" type="text/x-handlebars-template">
  <a class="button-prev">Back</a>
  <h1 class="title">Activities</h1>
  <a class="button">Logout</a>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <!--<a class="button-block" href="#take">Get coins by code</a>-->
  <ul class="list history">
    {{#history}}
    <li>
      <p>
        {{#if-eq type "transfer"}}
          {{#if-eq subtype "+"}}
          +{{coins_count}}<img src="views/images/{{coins_type}}-coin.jpg" width="20" style="vertical-align: middle;" /> from <a href="http://www.facebook.com/profile.php?id={{sender.facebook_uid}}" target="_blank" rel="external">{{sender.name}}</a>
          {{else}}
          -{{coins_count}}<img src="views/images/{{coins_type}}-coin.jpg" width="20" style="vertical-align: middle;" /> to <a href="http://www.facebook.com/profile.php?id={{recipient.facebook_uid}}" target="_blank" rel="external">{{recipient.name}}</a>
          {{/if-eq}}
        {{else}}
          {{sender.name}} payed {{coins_count}}<img src="views/images/{{coins_type}}-coin.jpg" width="20" style="vertical-align: middle;" />
        {{/if-eq}}
      </p>
      <span class="count">{{time}}</span>
    </li>
    {{/history}}
  </ul>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('settings');

  $(document).one('pageLoadSuccess', function(event) {
    API.request('GET', '/transaction/history')
      .success(function(response) {
        var current_user = Storage.get('user');
        $.each(response.data.result, function(index, value) {
          if(value.recipient_id == current_user.id) {
            response.data.result[index].subtype = '+';
          } else {
            response.data.result[index].subtype = '-';
          }
          console.log(value);
        });
        event.renderer({history: response.data.result});
      })
      .send();
  });

  $(document).one('pageRender', function() {
    $(".count").each(function(index) {
      $(this).text(Tools.prettyDate($(this).text() * 1000));
    });

    $("a.button:contains(Logout)").tap(API.logout);
  });

</script>
