<script id="header_template" type="text/x-handlebars-template">
  <h1 class="title">Claim coins</h1>
  <a class="button">Logout</a>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <ul class="list">
    {{#history}}
    <li>
      {{name}}
      <span class="chevron"></span>
    </li>
    {{/history}}
  </ul>
</script>

<script type="text/javascript">
  $('.tab-item[page=claim]').addClass('active');

  $(document).one('pageLoad', function(event) {
    Backend.GetRequest('/transaction/history').done(function (data, a) {
      console.log(data);
      event.renderer({history:data.result});
    });
  });

  $(document).one('pageRender', function() {
    $("a.button:contains(Logout)").tap(Backend.Logout);
  });
</script>
