<script id="header_template" type="text/x-handlebars-template">
  <h1 class="title">Claim coins</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <div class="content-padded">
    <div class="text-block">
      History.
    </div>
  </div>
</script>

<script type="text/javascript">
  $('.tab-item[page=claim]').addClass('active');

  $(document).one('pageLoad', function(event) {
    Backend.GetRequest('/transaction/history').done(function (data, a) {
      console.log(data);
      event.renderer({history:data.result});
    });
  });
</script>
