<script id="header_template" type="text/x-handlebars-template">
  <a class="button" backpane-id="left">
    <i class="icon-reorder"></i>
    <span class="count-negative">0</span>
  </a>
  <h1 class="title">Exchange</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <ul class="list compact">
    <li class="list-divider">
      You have
      <span class="coin-icon coin-usual">{{balance.received_coins_count}}</span>
      and
      <span class="coin-icon coin-big">{{balance.received_big_coins_count}}</span>
    </li>
    {{#partners}}
    <li deal_id="{{id}}">
      <img src="{{image}}" width="40" style="vertical-align: middle;" /> {{good}} for
      {{coins_count}}<img src="views/images/{{coins_type}}-coin.jpg" width="20" style="vertical-align: middle;" />
      <span class="chevron"></span>
    </li>
    {{/partners}}
  </ul>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('exchange');

  $(document).one('pageLoadSuccess', function(event) {
    API.request('GET', '/partners/deals')
      .success(function(response) {
        App.getBalance(function(balance) {
          event.renderer({partners:response.data.result, balance:balance});
        });
      })
      .send();
  });

  $(document).one('pageRender', function() {
    $('li[deal_id]').tap(function() {
      Navigation.redirectToPage('exchange_deal:deal_id=' + $(this).attr('deal_id'));
    });
  });
</script>
