<script id="header_template" type="text/x-handlebars-template">
  <h1 class="title">Give "Thank you"</h1>
  <a class="button" id="config-button"><i class="icon-book"></i></a>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <div class="content-padded">
    <div class="text-block">
      Select coin:
    </div>

    <div class="coins-holder">
      <div class="coin-holder">
        <img src="views/images/usual-coin.jpg" class="coin" type="usual" />
        <br />
        <span class="count">{{balance.usual_coins_to_send}}</span>
      </div>

      <div class="coin-holder">
        <img src="views/images/big-coin.jpg" class="coin" type="big" />
        <br />
        <span class="count">{{balance.purchased_big_coins_count}}</span>
      </div>
    </div>
    <br style="clear:both;" />

    {{#unless balance.free_coins_available}}
      <!--<div class="text-block no-coins">
        You dont have free coins, but you will recieve one for free in {{balance.free_coins_available_time_pretty}}.
        Or you can simply <a href="#buy">buy</a> them.
      </div>-->
    {{/unless}}
  </div>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('give');

  $(document).one('pageLoadSuccess', function(event) {
    getBalance(function(balance) {
      balance.free_coins_available_time_pretty = Tools.prettyDate((new Date().getTime() + 60*60*12) * 1000);

      event.renderer({balance:balance});
    })
  });

  $(document).one('pageRender', function() {
    $('.coin-holder').tap(function() {
      var type = $(this).find('.coin').attr('type');

      getCachedBalance(function(balance) {
        if(balance[type + '_coins_to_send'] < 1) {
          if(confirm('You dont have ' + type + ' "Thank you", would you like to buy it?')) {
            Navigation.redirectToPage('buy');
          }
        } else {
          Navigation.redirectToPage('give_select_recipient:coin_type=' + type);
        }
      });
    });
  });
</script>
