<script id="header_template" type="text/x-handlebars-template">
  <a class="button-prev">Back</a>
  <a class="button" id="backpane">
    <i class="icon-reorder"></i>
    <span class="count-negative">0</span>
  </a>
  <h1 class="title">Give</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <ul class="list compact">
    <li class="list-divider">Facebook friends</li>
    {{#users}}
    <li uid="{{uid}}">
      <img src="{{image_50}}" style="width: 40px; vertical-align: middle;"/>
      {{name}}
      <a class="button-positive" style="display:none">Confirm</a>
      <span class="chevron"></span>
    </li>
    {{/users}}
  </ul>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('give');

  var friends_response_cache;

  $(document).one('pageLoadSuccess', function(event) {
    if(!friends_response_cache) {
      API.request('GET', '/social/facebook_friends')
        .success(function(response) {
          friends_response_cache = response;
          event.renderer({users:response.data.result});
        })
        .send();
    } else {
      event.renderer({users:friends_response_cache.data.result});
    }
  });

  $(document).one('pageRender', function() {
    $('li[uid]').tap(function() {
      $('li[uid]').each(function() {
        $(this).children('.button-positive').hide();
        $(this).children('.chevron').show();
      });

      $(this).children('.chevron').hide();

      $(this).children('.button-positive').show().tap(function()
      {
        Loader.show('Sending coins');
        var uid = $(this).parent('li[uid]').attr('uid');

        var data = {
          'uid':     uid,
          'type':    Page.getParam('coin_type') == "big" ? "big" : "usual",
          'message': 'transfer'
        };

        API.request('POST', '/transaction/transfer', data)
          .success(function(response) {
            var ref = window.open("https://www.facebook.com/dialog/feed?" +
                                   "to=" + uid + "&" +
                                   "app_id=" + Config.fbAppId + "&" +
                                   "name=Thank%20you!&" +
                                   "link=http://" + Config.host + "/og/coin_" + Page.getParam('coin_type') + ".html&" +
                                   "redirect_uri=http://" + Config.host + "/transaction/fallback_from_posting", '_blank');

            window.handleOpenURL = function(url) {
              setTimeout(function() {
                ref.close();
                alert('Coins was sent');
                Navigation.redirectToDefaultPage();
              }, 100);
            };
          })
          .send();
       });
    });
  });
</script>
