<script id="header_template" type="text/x-handlebars-template">
  <a class="button" backpane-id="backpane_left"><i class="icon-reorder"></i></a>
  <h1 class="title">Give "Thank you"</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  
  
  <div class="slider">
  <ul>
    <li deal_id="1">
      <img src="deal_images/coffee.jpg">
      <span class="slide-text">← Slide me</span>
    </li>
    <li deal_id="2">
      <img src="deal_images/coffee.jpg">
    </li>
  </ul>
</div>
<div style="text-align:right"><a href="#exchange">View all ></a></div>

{{#unless balance.usual_coins_to_send}}
    <div class="text-block no-coins">
        You dont have free coins, but you will recieve one for free in {{balance.free_coins_available_time_pretty}}.
        Tap "say" to buy one of them.
    </div>
{{/unless}}
<a class="button-block">Say &quot;Thank you!&quot;</a>
  
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('give');

  $(document).one('pageLoadSuccess', function(event) {
    getBalance(function(balance) {
      event.renderer({balance:balance});
    })
  });
  
  $(document).one('pageRender', function() {
    $('li[deal_id]').tap(function() {
      Navigation.redirectToPage('exchange_deal:deal_id=' + $(this).attr('deal_id'));
    });
    getCachedBalance(function(balance) {
      $('a.button-block').tap(function() {
      if (0 == balance.usual_coins_to_send) {
        if(!confirm("Are you sure?")) return;
        API.request('POST', '/shop/purchase/1')
          .success(function (response) {
            Loader.show('Success');
            setTimeout(function () {
                Navigation.redirectToPage('give_select_recipient:coin_type=usual');
            }, 2000);
          })
          .send();
        }
        else {
                        Navigation.redirectToPage('give_select_recipient:coin_type=usual');
        }
    });

      });
        
  });
  
</script>
