<script id="header_template" type="text/x-handlebars-template">
  <a class="button" id="backpane">
    <i class="icon-reorder"></i>
    <span class="count-negative">0</span>
  </a>
  <h1 class="title">Give</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <div class="content-padded">
    <div class="text-block">
      Select coin:
    </div>

    <div class="coins-holder">
      <span class="coin-holder">
        <img src="views/images/usual-coin.jpg" class="coin" type="usual" />
        <br />
        <span class="count">{{balance.usual_coins_to_send}}</span>
      </span>

      {{#if-eq balance.usual_coins_to_send "0"}}
        <div class="text-block no-coins">
          You dont have coins, but you will recieve one for free in {{balance.free_coins_available_time}}.
          Or you can simply <a href="#buy">buy</a> them.
        </div>
      {{/if-eq}}

      <br style="clear:both;" />

      <span class="coin-holder">
        <img src="views/images/big-coin.jpg" class="coin" type="big" />
        <br />
        <span class="count">{{balance.purchased_big_coins_count}}</span>
      </span>
    </div>
  </div>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('give');

  $(document).one('pageLoadSuccess', function(event) {
    App.balance.load(function(balance) {
      event.renderer({balance:balance});
    });
  });

  $(document).one('pageRender', function() {
    App.balance.update();

    $('.coin-holder').tap(function() {
      var type = $(this).find('.coin').attr('type');

      App.balance.get(function(balance) {
        if(balance[type + '_coins_to_send'] < 1) {
          Navigation.redirectToPage('buy');
        } else {
          Navigation.redirectToPage('give_select_recipient:coin_type=' + type);
        }
      }, true);
    });
  });
</script>
