<script id="header_template" type="text/x-handlebars-template">
  <a class="button-prev">Back</a>
  <a class="button" id="backpane">
    <i class="icon-reorder"></i>
    <span class="count-negative">0</span>
  </a>
  <h1 class="title">Give</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <ul class="list compact">
    <li class="list-divider">Facebook friends</li>
    {{#users}}
    <li uid="{{uid}}">
      <img src="{{image_50}}" style="width: 40px; vertical-align: middle;"/>
      {{name}}
      <a class="button-positive" style="display:none">Confirm</a>
      <span class="chevron"></span>
    </li>
    {{/users}}
  </ul>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('give');

  $(document).one('pageLoadSuccess', function(event) {
    API.request('GET', '/social/facebook_friends')
      .success(function(response) {
        event.renderer({users:response.data.result});
        
      })
      .send();
  });

  $(document).one('pageRender', function() {
    $('li[uid]').tap(function() {
    
       $('li[uid]').each(function() {
         $(this).children('.button-positive').hide();
         $(this).children('.chevron').show();
       });
       $(this).children('.chevron').hide();
       $(this).children('.button-positive').show().tap(function()
       {
         var uid = $(this).parent('li[uid]').attr('uid');
         var coin_type = Page.getParam('coin_type');
         Loader.show('Sending coins');
         
         API.request('POST', '/transaction/transfer', {'uid': uid, 'type': coin_type == "big" ? "big" : "usual", message:'transfer'})
           .success(function(response) {
             console.log(response);
             Loader.show('Coins was send');
             var post_url = "https://www.facebook.com/dialog/feed?" +
                            "to=" + uid + "&" +
                            "app_id=" + Config.fbAppId + "&" +
                            "picture=http://" + Config.host + "/images/" + Page.getParam('coin_type') + "-coin.jpg&" +
                            "name=Thank%20you!&" +
                            "link=http://" + Config.host + "/page/about&" + 
                            "description=You%20can%20exchange%20this%20coin%20inTYCoin%20application&" +
                            "redirect_uri=http://" + Config.host + "/transaction/fallback_from_posting";
             window.location.href=post_url;
          })
          .send();
       });
    });
  });
</script>
