<script id="header_template" type="text/x-handlebars-template">
  <a class="button-prev">Back</a>
  <a class="button" id="backpane">
    <i class="icon-reorder"></i>
    <span class="count-negative">0</span>
  </a>
  <h1 class="title">Give</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <ul class="list compact">
    <li class="list-divider">Facebook friends</li>
    {{#users}}
    <li uid="{{uid}}">
      <img src="{{image_50}}" style="width: 40px; vertical-align: middle;"/>
      {{name}}
      <span class="chevron"></span>
    </li>
    {{/users}}
  </ul>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('give');

  $(document).one('pageLoadSuccess', function(event) {
    API.request('GET', '/social/facebook_friends')
      .success(function(response) {
        event.renderer({users:response.data.result});
      })
      .send();
  });

  $(document).one('pageRender', function() {
    $('li[uid]').tap(function() {
      Navigation.redirectToPage('give_select_message:coin_type=' + Page.getParam('coin_type') + '&uid=' + $(this).attr('uid'));
    });
  });
</script>
