<script id="header_template" type="text/x-handlebars-template">
  <a class="button-prev">Back</a>
  <a class="button" backpane-id="left">
    <i class="icon-reorder"></i>
    <span class="count-negative">0</span>
  </a>
  <h1 class="title">Give</h1>
  <a class="button">Confirm</a>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <div class="content-padded">
    <img style="float:left;" src="{{#if image_150}}{{image_150}}{{else}}views/images/no_image_115x115.png{{/if}}" width="50" />
    <h1 style="margin-left:10px;">&nbsp;&nbsp;{{name}}</h1>
    <br style="clear:both;" />

    Enter message:
    <textarea id="message" placeholder="Thank you for...">Thank you for your help, lorem ipsum dolor sit amet...</textarea>
  </div>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('give');

  $(document).one('pageLoadSuccess', function(event) {
    API.request('GET', '/social/facebook_friends')
      .success(function(response) {
        var user;
        $.each(response.data.result, function(index, value) {
          if(value.uid == Page.getParam('uid')) {
            user = value;
          }
        });
        event.renderer(user);
      })
      .send();
  });

  $(document).one('pageRender', function() {
    $('a.button:contains(Confirm)').tap(function() {
      var data = {
        'uid': Page.getParam('uid'),
        'type': Page.getParam('coin_type') == "big" ? "big" : "usual",
        'message': $('#message').val()
      };

      Loader.show('Sending coins');
      API.request('POST', '/transaction/transfer', data)
        .success(function(response) {
          Loader.show('Coins sent');
          App.dropCache();
          setTimeout(function(){
            Navigation.redirectToDefaultPage();
          }, 2000);
        })
        .send();
    });
  });
</script>
