<script id="header_template" type="text/x-handlebars-template">
  <a class="button" backpane-id="left"><i class="icon-reorder"></i></a>
  <h1 class="title">TYCoin</h1>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <div class="content-padded">
    <div class="text-block">
      Marketing description here.
    </div>
  </div>
</script>

<script type="text/javascript">
  $(document).one('pageLoad', function(event) {
    Storage.set('skip_intro', true);
    event.renderer();
  });
</script>
