<script id="header_template" type="text/x-handlebars-template">
  <a class="button-prev">Back</a>
  <h1 class="title">Send coins</h1>
  <a class="button-next">Send</a>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <div class="content-padded">
    <img style="float:left;" src="{{#if image_150}}{{image_150}}{{else}}views/images/no_image_115x115.png{{/if}}" width="50" />
    <h1 style="margin-left:10px;">&nbsp;&nbsp;{{name}}</h1>
    <br style="clear:both;" />

    Enter message:
    <textarea id="message" placeholder="Moment description...">Thank you for your help, lorem ipsum dolor sit amet...</textarea>
  </div>
</script>

<script type="text/javascript">
  $(document).one('pageLoad', function(event) {
    Backend.GetRequest('/social/facebook_friends').done(function (data, a) {
      var user;
      $.each(data.result, function(index, value) {
        if(value.uid == Navigation.getParam('uid')) {
          user = value;
        }
      });
      event.renderer(user);
    });
  });

  $(document).one('pageRender', function() {
    $('.button-next').tap(function() {
      var data = {
        'uid': Navigation.getParam('uid'),
        'type': Navigation.getParam('coin_type') == 1 ? "big" : "usual",
        'message': $('#message').text()
      };

      Loader.show('Sending coins');
      Backend.PostRequest('/transactions/transfer', data).done(function(ajax) {
        if(ajax.code == 200) {
          Navigation.redirectToPage('send_status');
        } else {
          Loader.setStatus(ajax.errors[0]);
        }
      });
    });
  });
</script>
