<script id="header_template" type="text/x-handlebars-template">
  <a class="button-prev">Back</a>
  <h1 class="title">Settings</h1>
  <a class="button">Logout</a>
</script>

<script id="content_template" type="text/x-handlebars-template">
  <br />
  <a class="button-block .get-by-code">Get coins by CODE</a>
</script>

<script type="text/javascript">
  Navigation.setMenuActivePage('settings');

  $(document).one('pageLoadSuccess', function(event) {
    event.renderer();
  });

  $(document).one('pageRender', function() {
    $("a.button:contains(Logout)").tap(API.logout);
  });
</script>
